*{
    margin: 0;
}

a{
    text-decoration: none;
    color: white;
    font-size: larger;
    text-align: center;
    margin-left: 40px;
}

header{
    background-color: rgb(25, 25, 175);
    padding: 10px 20px;
    text-align: center;
}

a:hover{
    color: yellow;
}